
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

@media screen and (max-width: 600px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul li {
    margin: 5px;
  }
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}